<div class="top-menu">
  Main Menu
</div>
<div class="flex-container">

  <div #colSection class="col-section">
    <app-sticky-menu [parent]="colSection" [height]="60">
      <app-btn-menu (updateData)="handleUpdate($event)"></app-btn-menu>
    </app-sticky-menu>
    <div class="text-section"></div>
    <div class="text-section"></div>
    <div class="text-section"></div>
    <div class="text-section"></div>
    <div class="text-section"></div>
    <div class="text-section"></div>
    <div class="text-section"></div>
    <div class="text-section"></div>
    <div class="text-section"></div>
  </div>
  <div class="col-section">
    Side menu
  </div>
</div>



